<div>
  <h3>手动发布执行</h3>
  <h6>受托系统</h6>

  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="3882" class="button">全量受托</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4841" class="button">UAT受托</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="6441" class="button">PT受托</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4824" class="button">SIT受托</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="159" class="button">内测受托</button>
  </form>
  <h6>账管系统</h6>

  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="3893" class="button">全量账管</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4809" class="button">UAT账管</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="6448" class="button">PT账管</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4800" class="button">SIT账管</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="1633" class="button">内测账管</button>
  </form>

  <h6>规则平台</h6>

  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="3895" class="button">全量规则</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4859" class="button">UAT规则</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="6446" class="button">PT规则</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4857" class="button">SIT规则</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="1689" class="button">内测规则</button>
  </form>

  <h6>交换平台</h6>

  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="3889" class="button">全量EXCH</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4854" class="button">UAT EXCH</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="6320" class="button">PT EXCH</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4852" class="button">SIT EXCH</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="1687" class="button">内测 EXCH</button>
  </form>


  <h6>交易平台</h6>

  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="3892" class="button">全量trade</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4849" class="button">UAT trade</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="6444" class="button">PT trade</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="4846" class="button">SIT trade</button>
  </form>
  <form method="POST" th:action="@{/setJob}">
    <text>状态</text>
    <button type="submit" onclick="return confirm('确认执行？') " name="jobId" value="1650" class="button">内测 trade</button>
  </form>

<!--  <form method="POST"  type = "hidden" th:action="@{/setJob}">-->
<!--    <input type="hidden" name="jobId" value = "222">-->
<!--    <input type="hidden" name="jobId" value="333">-->
<!--    <button type="submit" onclick="return confirm('确认执行？') "  type = "hidden" class="button">UAT 受托</button>-->
<!--  </form>-->

<H3 >全量定时时间</H3>
  <table border="2">
    <tr>
      <td>执行时间</td>
      <td>删除</td>
    </tr>
    <tr th:each="t : ${time}">
      <td th:text="${t}"></td>
      <td><a  th:if= "${t != null}" th:href="'/delTime?id='+${t}">删除</a></td>
    </tr>
  </table>
  <form method="POST" th:action="@{/setTime}">
    <input type="time"  id = "add" name = "addTime">
    <button type="submit" onclick="return confirm('确认执行？') "  class="button">添加定时时间</button>
  </form>

</div>
